html,
body {
  height: 100%;
}

body {
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
}

#viewport {
  width: 640px;
  height: 256px;
  position: relative;
  overflow-x: auto;
  background-image: url('../images/water1.png');
}
#ports {
  margin-top: 96px;
  display: flex;
  justify-content: space-around;
}
#ports > .port {
  width: 64px;
  height: 32px;
  background-image: url('../images/port.png');
}
#ship {
  width: 128px;
  height: 64px;
  background-image: url('../images/ship.png');
  position: absolute;
}
#sailbutton {
  border: 0;
  background-color: #fb36b6;
  border-bottom: 4px solid #0804d8;
  color: white;
  padding: 10px 20px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  font-family: 'Dancing Script', cursive;
}
#sailbutton:hover {
  background-color: #d8040f;
  border-bottom-width: 0;
  padding-top: 14px;
}
#message {
  background-color: green;
  border-bottom: 4px solid #0804d8;
  padding: 10px 20px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  font-family: 'Dancing Script', cursive;
}
#headUpDisplay {
  color: white;
  position: absolute;
  top: 8px;
  right: 16px;
  font-size: 18px;
  text-align: right;
  font-family: 'Dancing Script', cursive;
}
